<% provide(:title, 'My Courses') %>
<h1>My Courses</h1>
<table>
  <tr>
    <th>Course</th>
    <th>Your Status</th>
    <th></th>
  </tr>

<% @teaches.each do |teacher| %>
<% course = Course.find_by_course_id(teacher.course_id) %>
  <tr>
    <td><%= teacher.course_id %></td>
    <%if teacher.isprofessor == true %>
    	<td>Professor</td>
    <% else %>
    	<td>TA</td>
    <% end %>
    <td><%= link_to 'View Course', '/instructors/'+current_instructor.id.to_s+'/courses/'+teacher.course_id %></td>
    <td><%= link_to 'Stop Teaching', '/instructors/'+current_instructor.id.to_s+'/courses/'+teacher.course_id , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%if teacher.isprofessor == true %>
    <td><%= link_to 'Delete Course', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a course', new_course_path %>