<div class="fields">
	<%= f.label :question, "Question" %>
	<%= f.hidden_field :_destroy %>
  	<%= link_to_remove_fields "Remove Question", f %>

  	<%= f.select :question_select, options_from_collection_for_select(Question.all, :id, :question), {:prompt => "New Question"}, :onchange => 'displayQuestion(this)'%>
<!--  	<div class="newQuestionFields"> -->
  	<%= f.text_area :question, :rows => 3 %>

  	<%= f.label :question_type, "Question Type" %>
  	<%= f.select :question_type, ["Short Answer", "Multiple Choice", "Paragraph"] %>

  	<%= f.label :correct_answer, "Answer" %>
  	<%= f.text_area :correct_answer, :rows => 3 %>
<!--	</div> -->
</div>