<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Assignment</th>
    <th>Due date</th>
    <th></th>
    <th>Grade</th>
  </tr>

<% @assignments.each do |assignment| %>
  <% if @courses.include?(assignment.course_id) %>
    <tr>
      <td><%= assignment.course_id %></td>
      <td><%= assignment.id %></td>
      <td><%= assignment.due_date %></td>
      <% if assignment.due_date >= Date.today %>
        <% if s = current_student.submissions.find_by_assignment_id(assignment.id) %>
          <td><%= link_to 'Edit Submission', edit_submission_path(s) %></td>
        <% else %>
          <td><%= link_to 'New Submission', submissions_path(:assignment_id => assignment.id), method: :post %></td>
        <% end %>
      <% else %>
        <% if s = current_student.submissions.find_by_assignment_id(assignment.id) %>
          <td><%= link_to 'View Submission', s %></td>
        <% else %>
          <td>Not Submitted</td>
        <% end %>
      <% end %>
      <% if s = current_student.submissions.find_by_assignment_id(assignment.id) && s.score %>
        <td><%= s %></td>
      <% else %>
        <td>NG</td>
      <% end %>
    </tr>
  <% end %>
<% end %>
</table>

<br />

