<% if instructor_signed_in? %>
<% provide(:title, 'Create New Course') %>
<h1>Create New Assignment</h1>
<p>
  <b>Course:</b>
  <%= @course.course_id %>
</p>
<br />

<%= form_for(@assignment) do |f| %>
	<%= f.label :due_date, "Due Date" %>
    <%= f.date_select :due_date %>

	<%= f.hidden_field :course_id, value: @course.course_id %>

    <%= f.fields_for :questions do |builder| %>
    	<p class="fields">
  			<%= render "question_fields", :f => builder %>
		</p>
  	<% end %>
  	<p><%= link_to_add_fields "Add Question", f, :questions %></p>

    <%= render 'shared/error_messages' %>
    
    <%= f.submit "Create Assignment", class: "btn btn-large btn-primary" %>
<% end %>

<% end %>

<!--<h1>New assignment</h1>

<%= render 'form' %>

<%= link_to 'Back', assignments_path %>
-->