<%= form_for(@hint) do |f| %>
  <% if @hint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hint.errors.count, "error") %> prohibited this hint from being saved:</h2>

      <ul>
      <% @hint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :hint %><br />
    <%= f.text_area :hint %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
