<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @submission.student_id %>
</p>

<p>
  <b>Assignment:</b>
  <%= @submission.assignment_id %>
</p>

<p>
  <b>Score:</b>
  <% if @submission %>
	<%= @submission.score %>/<%= @submission.assignment.questions.size %> (<%= (@submission.score/@submission.assignment.questions.size) * 100 %>%)
  <% else %>
  	Not Yet Graded
  <% end %>
</p>

<p>
	<% @submission.submitted_answers.each do |answer| %>
		<b><%= answer.question.question %></b>
		<br />
		<%= answer.given_answer %>
		<br />
		<br />
	<% end %>
</p>



<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'My Assignments', assignments_path %>
