
<% if instructor_signed_in? %>
<% provide(:title, 'Create New Course') %>
<h1>Create New Course</h1>
<!--<p>Find me in app/views/courses/new.html.erb</p>-->
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@course) do |f| %>

      <%= f.label :course_id, "Course ID" %>
      <%= f.text_field :course_id %>
      <p> course id should be a 4 letter department code followed by a 3 digit course number, e.g CMSC424</p>

    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>

      <%= render 'shared/error_messages' %>
      
      <%= f.submit "Create Course", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<% else %>
<% provide(:title, 'Access Denied') %>
<h1>Access Denied</h1>
<!--<p>Find me in app/views/courses/new.html.erb</p>-->
<div class="row">
  <p> Only instructors have permission to create courses.</p>
</div>
<% end %>

<!--
<h1>New course</h1>

<%= render 'form' %>

<%= link_to 'Back', courses_path %>
-->