<%= form_for(@enrolled) do |f| %>
  <% if @enrolled.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrolled.errors.count, "error") %> prohibited this enrolled from being saved:</h2>

      <ul>
      <% @enrolled.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.text_field :course_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
