<h1>Enroll in Courses</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.course_id %></td>
    <td><%= course.name %></td>
    <td><%= course.description %></td>
    <% if Enrolled.where(:course_id => course.course_id, :student_id => current_student.student_id).length > 0 %>
      <td>Enrolled</td>
    <% else %>
      <td><%= link_to('Enroll', enrolleds_path(:course_id => course.course_id), method: :post) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'My Courses', '/students/' + current_student.id.to_s + '/courses' %>

