<h1>Listing enrolleds</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Course</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enrolleds.each do |enrolled| %>
  <tr>
    <td><%= enrolled.student_id %></td>
    <td><%= enrolled.course_id %></td>
    <td><%= link_to 'Show', enrolled %></td>
    <td><%= link_to 'Edit', edit_enrolled_path(enrolled) %></td>
    <td><%= link_to 'Destroy', enrolled, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enrolled', new_enrolled_path %>
