<h1>Listing ta</h1>

<table>
  <tr>
    <th>Instructor ssn</th>
    <th>Course</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ta.each do |tum| %>
  <tr>
    <td><%= tum.instructor_ssn %></td>
    <td><%= tum.course_id %></td>
    <td><%= link_to 'Show', tum %></td>
    <td><%= link_to 'Edit', edit_tum_path(tum) %></td>
    <td><%= link_to 'Destroy', tum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ta', new_tum_path %>
