<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "CourseHelper", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <% if student_signed_in? %>
            <li><%= link_to "Students", students_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_student %></li>
                <li><%= link_to "My Courses", '/students/'+current_student.id.to_s+'/courses' %></li>
                <li><%= link_to "Assignments", assignments_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", studentsignout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% elsif instructor_signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_instructor %></li>
                <li><%= link_to "My Courses", '/instructors/'+current_instructor.id.to_s+'/courses' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", instructorsignout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Student/Instructor Sign in", studentsignin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
